# PyCharm files
.idea
ocvbot/main/__pycache__/
Project.xml

# PyTest files
.pytest_cache/

# Python files
venv_cpython/

# Sensitive files
*/password*
*/username*

# Sphinx files
.doctrees
/docs/_build/rinoh/.doctrees
/docs/build/doctrees

# Temporary files
*/.screenshot*

# Test files
/tests/haystacks/

/ocvbot/client.png
/ocvbot/game_screen.png
/ocvbot/inv.png
/ocvbot/inv_bottom_half.png
/ocvbot/inv_left_half.png
/ocvbot/inv_right_half.png
/ocvbot/chat_menu_recent.png

/ocvbot/haystack_*
/ocvbot/haystack_2020-05-24_16:02:36.png
