# PyCharm files
.idea
ocvbot/main/__pycache__/
Project.xml

# PyTest files
.pytest_cache/

# Python files
venv_cpython/

# Sensitive files
*/password
*/username

# Temporary files
*/.screenshot*

# Test files
ocvbot/tests/haystacks/
